<!DOCTYPE html>
<html>
    <head>
        <title>watch</title>
        <script src="../vue3/vue.js"></script>
    </head>
    <body>
        <div id="app"></div>
    </body>
</html>
<script>

const Main = {
    setup(){    
       
        const num = Vue.ref(0)
        const count = Vue.ref(100)

        const stu = Vue.reactive({
            name:"张三",
            score:90
        })

        Vue.watchEffect(() => {
            console.log("watchEffect num:",num.value)
            console.log("watchEffect stu:",stu.name,stu.score)
        })

        return {
            stu,
            num,
            count
        }
    },
    
    template:`
        <h1>vue3-watch effect</h1>
        学生的名字：<input v-model="stu.name" >
        <br>
        学生的成绩：<input v-model="stu.score" >
        <br>
        num:<input v-model="num" >
        <br>
        count:<input v-model="count" >
        <br>
        
    `
}
const app = Vue.createApp(Main)
app.mount("#app")
</script>