@font-face {
  font-family: "iconfont"; /* Project id 4410848 */
  src: url('iconfont.woff2?t=1705286704021') format('woff2'),
       url('iconfont.woff?t=1705286704021') format('woff'),
       url('iconfont.ttf?t=1705286704021') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

