<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <script src="../vue2_lib/vue.js"></script>
    </head>
    <body>
        <div id="app">
            <div>请选择你的爱好</div>
            <input 
                type="radio" 
                @change="changehandle" 
                @click="clickhandle" 
                v-model="hobby" 
                name="hobby" 
                value="游泳" >游泳
            <input 
                type="radio" 
                @change="changehandle" 
                @click="clickhandle" 
                v-model="hobby" 
                name="hobby" 
                value="健身">健身
            <input 
                type="radio" 
                @change="changehandle" 
                @click="clickhandle" 
                v-model="hobby" 
                name="hobby" 
                value="旅游">旅游
            <div>{{hobby}}</div>
        </div>
    </body>
</html>

<script>
const app = new Vue({
    el:"#app",
    data:{
        hobby:""
    },
    methods:{
        changehandle(e){
            console.log(e.target.value)
        },
        clickhandle(e){
            console.log("click***",e.target.value)
        }
    }
})

</script>