* {
	margin:0;
	padding:0;
	--themeMinWidth:1226px;
}

ul,li {
	list-style:none;
}
a {
	text-decoration:none;
}
a img {
	border:none;
	display:block;
}

body { 
	font-size:12px;
	font-family:"microsoft yahei";
}