#comment{
    width:1226px;
    height:470px;
    margin:0 auto;
}

#comment .c_title{
    height:54px;
    line-height:54px;
}

#comment .c_con{
    height:416px;
}

#comment .c_con li{
    width:296px;
    height:416px;
    background:#fff;
    float:left;
    margin-right:14px;
    position:relative;
    top:0;
    transition:.4s;
}

#comment .c_con li:hover{
    box-shadow:0 15px 30px rgba(0,0,0,0.1);
    top:-2px;
}

#comment .c_con li a{
    display:block;
    color:#333;
}

#comment .c_con li a.c_c_img{
    margin: 0 0 28px;
}

#comment .c_con li a.c_c_img img{
    width:296px;
    height:220px;
}

#comment .c_con li a.c_c_detail{
    height:72px;
    overflow:hidden;
    margin:0 28px 22px;
    font-size:14px;
    line-height:24px;
    font-weight:400;
}

#comment .c_con li .c_c_comment{
    height:18px;
    margin:0 28px 8px;
    color:#b0b0b0;
}

#comment .c_con li a.c_c_title{
    display:inline-block;
    font-size:14px;
    font-weight:400;
    max-width:170px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    vertical-align:bottom;
    margin-left:28px;
}

#comment .c_con li .space{
    padding:0 10px;
    color:#e0e0e0;
}

#comment .c_con li .price{
    color:#ff6700;
    font-size:14px;
    font-weight:400;
}