#bgColor{
    width:100%;
    background:#fafafa;
    margin-top:30px;
    padding-top:30px;
    min-width:1226px;
    padding-bottom:60px;
}

h2{
    font-size:22px;
    font-weight:normal;
}

#smart{
    width:1226px;
    height:670px;
    margin:30px auto;
}

#smart .s_title{
    height:56px;
    line-height:56px;
}

#smart .s_title .s_t_h2{
    float:left;
}

#smart .s_title a{
    float:right;
    font-size:16px;
    color:#424242;
    transition:.3s;
}

#smart .s_title a:hover{
    color:#f60;
}

#smart .s_title a .iconfont{
    font-size:22px;
    color:#bbb;
    margin-left:8px;
    transition:.3s;
}

#smart .s_title a:hover .iconfont{
    color:#f60;
}

#smart .s_con{
    width:1226px;
    height:614px;
}

#smart .s_con ul li{
    width:234px;
    height:300px;
    background:#fff;
    float:left;
    margin-right:14px;
    text-align:center;
    position:relative;
    transition:all .2s linear;
    position:relative;
    top:0;
}

#smart .s_con ul li:hover{
    box-shadow:0 15px 30px rgba(0,0,0,0.1);
    top:-2px;
}

#smart .s_con ul li.first{
    width:234px;
    height:614px;
}

#smart .s_con ul li.s_c_bottom{
    margin-bottom:14px;
}

#smart .s_con ul li a{
    display:block;
}

#smart .s_con ul li a.s_c_img{
    padding:20px 37px;
}

#smart .s_con ul li a.s_c_img img{
    width:160px;
    height:160px;
}

#smart .s_con ul li a.s_c_title{
    color:#111;
    font-size:14px;
}

#smart .s_con ul li .s_c_detail{
    margin:2px 0 12px;
    color:#bbb;
}

#smart .s_con ul li .s_c_price{
    color:#f60;
}

#match{
    width:1226px;
    height:670px;
    margin:29px auto;
}

#match .m_title{
    width:1226px;
    height:56px;
}

#match .m_title .m_t_h2{
    float:left;
    line-height:56px;
}

#match .m_title ul{
    float:right;
    margin-top:15px;
}

#match .m_title ul li{
    float:left;
    font-size:16px;
    margin-left:30px;
    line-height:24px;
    cursor:pointer;
    transition:.5s;
    border-bottom:2px solid transparent;
}

#match .m_title ul li.hover{
    border-bottom:2px solid #ff6700;
    color:#ff6700;
}

#match .m_con{
    width:1226px;
    height:614px;
}

#match .m_con .m_c_left{
    width:234px;
    height:614px;
    float:left;
}

#match .m_con .m_c_left a{
    display:block;
    transition:.4s;
    position:relative;
    top:0px;
}

#match .m_con .m_c_left a:hover{
    box-shadow:0 10px 20px #ddd;
    top:-2px;
}

#match .m_con .m_c_left a.m_c_l_top{
    margin-bottom:11px;
}

#match .m_con .m_c_right{
    width:992px;height:614px;
    float:left;
    position:relative;
}

#match .m_con .m_c_right ul{
    width:992px;
    height:614px;
    position:absolute;
    top:0;
    left:0;
    display:none;
}

#match .m_con .m_c_right ul li{
    width:234px;
    height:246px;
    background:#fff;
    float:left;
    margin-left:14px;
    margin-bottom:14px;
    padding:34px 0 20px;
    position:relative;
    top:0px;
    overflow:hidden;
    transition:.4s;
    text-align:center;
}

#match .m_con .m_c_right ul li:hover{
    top:-2px;
    box-shadow:0 15px 30px rgba(0,0,0,0.1);
}

#match .m_con .m_c_right ul li.m_c_eight,#match .m_con .m_c_right ul li.m_c_nine{
    height:89px;
}

#match .m_con .m_c_right ul li.m_c_eight{
    margin-bottom:14px;
}

#match .m_con .m_c_right ul li .m_c_r_img{
    display:block;
    margin:0 auto 18px;
}

#match .m_con .m_c_right ul li .m_c_r_img img{
    width:150px;
    height:150px;
}

#match .m_con .m_c_right ul li .m_c_r_title{
    display:block;
    color:#111;
    font-size:14px
}

#match .m_con .m_c_right ul li .m_c_r_price{
    color:#f60;
    margin:3px 0 8px;
}

#match .m_con .m_c_right ul li .m_c_r_price .delPrice{
    color:#b0b0b0;
    padding-left:5px;
}

#match .m_con .m_c_right ul li .m_c_r_comment{
    color:#b0b0b0;
}

#match .m_con .m_c_right ul li.m_c_eight .m_c_e_title{
    width:90px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;
    display:block;
    font-size:14px;
    color:#111;
    position:absolute;
    top:42px;
    left:27px;
}

#match .m_con .m_c_right ul li.m_c_eight .m_c_e_img{
    display:block;
    position:absolute;
    right:20px;top:32px;
}

#match .m_con .m_c_right ul li.m_c_eight .m_c_e_img img{
    width:80px;
    height:80px;
}

#match .m_con .m_c_right ul li.m_c_eight .m_c_e_price{
    position:absolute;
    left:30px;
    top:70px;
    color:#f60;
    font-size:14px;
}

#match .m_con .m_c_right ul li.m_c_nine .m_c_n_more{
    font-size:20px;
    position:absolute;
    top:50px;
    left:30px;
    color:#111;
}

#match .m_con .m_c_right ul li.m_c_nine .m_c_n_hot{
    color:#757575;
    position:absolute;
    top:80px;
    left:30px;
}

#match .m_con .m_c_right ul li.m_c_nine .iconfont{
    font-size:50px;
    color:#f60;
    position:absolute;
    right:35px;
    top:50px;
}

#match .m_con .m_c_right ul li .m_c_hide{
    width:174px;
    height:54px;
    background:#ff6700;
    position:absolute;
    bottom:-74px;
    left:0;
    opacity:0;
    transition:all .5s;
    padding:10px 30px;
    cursor:pointer;
}

#match .m_con .m_c_right ul li:hover .m_c_hide{
    transition:all .5s;
    bottom:0;
    opacity:1;
}

#match .m_con .m_c_right ul li .m_c_hide .review{
    color:#fff;
    display:block;
    margin-bottom:4px;
}

#match .m_con .m_c_right ul li .m_c_hide .author{
    color:rgba(255,255,255,0.6);
}
