.a-class {
    width:100px;
    height: 100px;
    background-color: blueviolet;
}

.img1 {
    background-image: url('../imgs/1.png');
    width: 100px;
    height: 100px;
}

.img2 {
    background-image: url('../imgs/2.png');
    width: 100px;
    height: 100px;
}

.img3 {
    background-image: url('../imgs/3.jpg');
    width: 300px;
    height: 300px;
}