@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1639988306359') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-QQfang:before {
  content: "\e61a";
}

.icon-zhifupingtai-zhifubao:before {
  content: "\e613";
}

.icon-zhifubao:before {
  content: "\e60a";
}

.icon-shejiaotubiao-42:before {
  content: "\e647";
}

.icon-weixin:before {
  content: "\e607";
}

.icon-QQ:before {
  content: "\fed8";
}

