@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1633744342040') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-fanhui1:before {
  content: "\f0115";
}

.icon-fanhui2:before {
  content: "\f0116";
}

.icon-youxi:before {
  content: "\e643";
}

.icon-shenghuo:before {
  content: "\e6ab";
}

.icon-gouwuche:before {
  content: "\e73d";
}

.icon-sousuo:before {
  content: "\e693";
}

.icon-xie:before {
  content: "\e617";
}

.icon-shangpinfenlei:before {
  content: "\e724";
}

.icon-shenghuoyongpin:before {
  content: "\e628";
}

.icon-gouwuche1:before {
  content: "\e63c";
}

.icon-hanhan-01-01:before {
  content: "\e671";
}

.icon-shouye:before {
  content: "\e609";
}

