* {
    margin:0px;
    padding:0px;
    --themeMinWidth:1226px
}

ul,li {
    list-style: none;   
}

a {
    text-decoration: none;
}

body {
    font-size:12px;
}

.icon {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
}

