
.header {
    height:40px;
    background-color: #333;
    width: 100%;
    min-width: var(--themeMinWidth);
}

.h_main {
    width: var(--themeMinWidth);
    height:40px;
    margin:0 auto ; 
}

.h_main .h_m_left {
    float: left;
    width:600px;
    height:40px;
    line-height: 40px;
}

.h_main .h_m_left ul li {
    float: left;
}

.h_main .h_m_left ul li a {
    color:#b0b0b0;
}

.h_main .h_m_left ul li a:hover {
    color:#fff;
}

.h_main .h_m_left ul li span {
    color:#424242;
    margin:0px 8px;
}


.h_main .h_m_right {
    width: 220px;
    height: 40px;
    float:right
}

.h_main .h_m_right .h_m_r_login {
    width: 70px;
    height: 40px;
    line-height: 40px;
    float: left;
}

.h_main .h_m_right .h_m_r_login a {
    color:#b0b0b0;
}

.h_main .h_m_right .h_m_r_login a:hover {
    color:#fff;
}

.h_main .h_m_right .h_m_r_login span {
    color:#424242;
    margin:0px;
}

.h_main .h_m_right .h_m_r_shop {
    width: 120px;
    height:40px;
    background-color: #424242;
    float: right;
    line-height: 40px;
    color:#b0b0b0;
    cursor: pointer;
    position: relative;
    padding-left: 15px;
}

.h_main .h_m_right .h_m_r_shop:hover {
    background-color: #fff;
    color:#f60;
    box-sizing: border-box;
    z-index:1
}

.h_main .h_m_right .h_m_r_shop .h_m_r_s_hide {
    width: 316px;
    height: 100px;
    background-color: #fff;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    position:absolute;
    top:40px;
    right:0px;
    color:#424242;
    line-height: 100px;
    text-align: center;
    cursor: default;
    display: none;
}

