.footer {
    /* display:flex;
    flex-direction: column;
    align-items: center; */
    color:#757575;
    font-size:14px;
    font-weight: 300;
}

.footer .other_url {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .other_url_item {
    margin-right:12px;
}

.footer .other_url_item_final {
    margin-right:unset;
}

.footer .split-line {
    height: 12px;
    margin-right:12px;
    border-left:1px solid #757575;
}

.footer .other_url_item:hover {
    color:#333;
}

.footer .copyright {
    display: flex;
    justify-content: center;
    margin-top:12px;
}