* {
    --themeFontColor:#ff6700;
}

.content {
    background-image: url("../imgs/login-bg.jpg");
    background-position: center;
    height:588px;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.content .login-form {
    padding:24px;
    box-sizing: border-box;
}

.content .login-form .login-form-top {
    font-size: 24px;
    color:#666;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.login-type-title:hover {
    color:#f56600
}

.content .login-form .login-form-top .login-form-top-split{
    /* border-left: 1px solid #666; */
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #e0e0e0;
    margin-right: 32px;
    margin-left: 32px;
    height: 24px;
}

.content .login-form .login-type-active {
    color:#f56600;
}

.login-form {
    width: 410px;
    height: 556px;
    background-color: #fff;
    margin-right: 200px;
}


.login-form  .login-form-input {
    width:100%;
    height:48px;
    padding:13px 16px 13px 14px;
    box-sizing: border-box;
    border: 1px solid #e0e0e0;
    outline: none;
    margin-top:14px;
    color:#4a4a4a;
}

.login-form .login-form-btn{
    height: 48px;
    color:#fff;
    background-color: var(--themeFontColor);
    margin-top: 24px;
    /* text-align: center;
    line-height: 48px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form .login-form-bytel {
    margin-top: 14px;
    font-size: 14px;
    color: var(--themeFontColor);
    display: flex;
    justify-content: center;
    /* text-align: center; */
}

.login-form .login-form-forregister{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    font-size: 15px;
    color:#999;
}

.login-form .login-from-splite {
    height: 12px;
    border-left: 1px solid #999;
    margin-left:6px;
    margin-right:6px;
}

.login-form .login-form-other {
    display: flex;
    justify-content: center;
    margin-top: 143px;
    font-size: 26px;
}

.login-form .login-form-icon {
    margin-right: 16px;
}

.footer {
    margin-top:100px;
    color:#757575;
    font-size:14px;
    font-weight: 300;
}

.footer .other_url {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .other_url_item {
    margin-right:12px;
}

.footer .other_url_item_final {
    margin-right:unset;
}

.footer .split-line {
    height: 12px;
    margin-right:12px;
    border-left:1px solid #757575;
}

.footer .other_url_item:hover {
    color:#333;
}

.footer .copyright {
    display: flex;
    justify-content: center;
    margin-top:12px;
}