.content {
    background-image: url("../imgs/login-bg.jpg");
    background-position: center;
    height:588px;
    display:flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.content .login-form {
    padding:24px;
    box-sizing: border-box;
}

.content .login-form .login-form-top {
    font-size: 24px;
    color:#666;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .login-form .login-form-top .login-form-top-split{
    /* border-left: 1px solid #666; */
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #e0e0e0;
    margin-right: 32px;
    margin-left: 32px;
    height: 24px;
}

.content .login-form .login-type-active {
    color:#f56600;
}

.login-form {
    width: 410px;
    height: 556px;
    background-color: #fff;
    margin-right: 32px;
}

.footer {
    margin-top:100px;
    color:#757575;
    font-size:14px;
    font-weight: 300;
}

.footer .other_url {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .other_url_item {
    margin-right:12px;
}

.footer .other_url_item_final {
    margin-right:unset;
}

.footer .split-line {
    height: 12px;
    margin-right:12px;
    border-left:1px solid #757575;
}

.footer .other_url_item:hover {
    color:#333;
}

.footer .copyright {
    display: flex;
    justify-content: center;
    margin-top:12px;
}