body {
    background: #f9f9f9;
    color: #666;
}

.content {
    display:flex;
    justify-content: center;
    margin-top: 100px;
}

.register-form {
    height:642px;
    width:854px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    /* justify-content 平行于主维度方向排序 */
    /* justify-content: center;   */
    /* align-item 垂直于主维度方向排序 */
    align-items: center;
}

.register-form-title {
    font-size: 30px;
    color:#333;
    margin-top: 40px;
}

.register-form-subfrom{
    display: flex;
    flex-direction: column;
    margin-top: 38px;
    font-size: 14px;
}

.select-country {
    width: 332px;
    height: 42px;
    border: 1px solid #e8e8e8;
    margin-top: 5px;
    padding:10px 16px;
    box-sizing: border-box;
}

.select-country:hover {
    cursor: pointer;
}

.select-country-flat {
    width: 330px;
    height: 270px;
    border: 1px solid #e8e8e8;
    position: absolute;
    background-color: #fff;
    display: none;
    overflow-y: auto;
}

.input-tel {
    height: 40px;
    margin-top:5px;
    border:1px solid #e8e8e8;
    outline: none;
}

.register-form-btn {
    width: 332px;
    height: 48px;
    color:#fff;
    background-color: #ff6700;
    margin-top: 32px;
    /* text-align: center;
    line-height: 48px; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    margin-top:100px;
    color:#757575;
    font-size:14px;
    font-weight: 300;
}

.footer .other_url {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .other_url_item {
    margin-right:12px;
}

.footer .other_url_item_final {
    margin-right:unset;
}

.footer .split-line {
    height: 12px;
    margin-right:12px;
    border-left:1px solid #757575;
}

.footer .other_url_item:hover {
    color:#333;
}

.footer .copyright {
    display: flex;
    justify-content: center;
    margin-top:12px;
}