@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1606184978171'); /* IE9 */
  src: url('iconfont.eot?t=1606184978171#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAJwAAsAAAAABhwAAAIlAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAooRgE2AiQDCAsGAAQgBYRtBy4bagXILiEnG15EgM5ZzsNKh6nTH1EogBPx8N9+7b75s+uIJtXEoXtWSSaZ0EkQMqmQAt1L2Iu19iqh7vQ3T6bJ6Ce7J7632HRCo3SmQ6iECKF9TvAMtUQkM71esAOslzlfaCkv/ufzXE5vAh3IXfWBct2D1hg0gHpxQIHugVFkBRRyw9gFL/AxgbohDcmN7fmWKMjsVYF4sgwlUSgEZJmlq0K54WAWb0qq6SWF1+j78W8xqiSlgl21fbPRE/MvTlZRK+cBIUhAx0sosCAhE/uNiU1pwbi0+umMMQlZFnxptbBdHNUi2F9nlzbBAEwGX7yVAiR4LMpwY9KTRPkMr2RcHvnyw2j0bQUG0nta/1Uw//x59a6SwecSmbNhLqqbOYPPlw0cyIbCtqWsyRrHk/Jh2+rqaMGebv9TjX3XyoSqvgmuisEMhaoJMrMLKGlYQlnVMurm7Y439GBpkWuY8wEQOn0hafeBQqdfMrN/KOn3QFlnFKg7DBc2TMV9aUZFUAf1HSwt8Ml1SCkuv6Dx7CqcV0T8E3JshaHb6pTTO/SRl9gSvxg9EQLiwIMteA5dN4CQAxs1aZki4azdpqY3tbTAS5SsY0ghkA6o3gGLJuCjYLIoVT5/gQzPXAru6KtLP0EsZs0Oulo6A8id1h/U9yivxF4YeoQggLCAB2zBPORyBUDYPM+GNKLFnBALzbSdUTRU29pe7/3dKaizTSmc+kK+UDQnkQAA') format('woff2'),
  url('iconfont.woff?t=1606184978171') format('woff'),
  url('iconfont.ttf?t=1606184978171') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1606184978171#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-back:before {
  content: "\e6f2";
}

